* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
font-family: "IMPACT";
src: url("/style/impact.ttf");
}
.meme {
  padding: 0 5px;
  font-family: 'IMPACT';
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:2px 2px 0 #000,
  -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  0px 2px 0 #000,
  2px 0px 0 #000,
  0px -2px 0 #000,
  -2px 0px 0 #000,
  2px 2px 5px #000;
}

.game-instance {
    width: 100vw;
    height: 100vh;
}


.button:hover {
    cursor: pointer;
}

.card-points {
    font-size: 163px;
    position: absolute;
    top: 10px;
    left: 46px;
}

.announce {
    font-size: 100px;
    position: absolute;
    bottom: 50px;
    text-align: center;
    width: 100%;
}

.card-draft {
    width: 200px;
    height: 200px;
    position: absolute;
    top: calc(50vh - 225px);
    left: calc(50vw - 100px);
    z-index: 50;
    background-color: rgb(70, 150, 191);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.player-bar{
    width: 200px;
    height: calc(100vh - 270px);
    border: black solid 2px;
}

.playboard{
    height: 250px;
    width: 900px;
    border: black solid 2px;
    position: absolute;
    top: calc(50vh - 250px);
    left: calc(50vw - 350px);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.playboard.selected{
    border: 1px solid rgb(86, 180, 239);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
}

.player-cards {
    width: 100vw;
    height: 270px;
    position: absolute;
    bottom: 0;
    border: black dashed 1px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.card {
    height: 225px;
    width: 200px;
    border: black solid 6px;
    border-radius: 5px;
    background-color: white;
    position: relative;
    text-align: center;
}

.ui-draggable-dragging {

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 15px rgba(82, 168, 236, 0.6);
}


.gif{
    max-width: 100%;
    max-height: 100%;
    pointer-events: none;
}

.vote{
    cursor: pointer;
}
